In [1]:
import pandas as pd
from functools import reduce
import json
import plotly.express as px
import plotly.graph_objects as go

In [2]:
data_2015 = pd.read_csv('2015.csv')
data_2015.rename(columns={'Happiness Score':'Happiness Score'},inplace=True)
data_2015 = pd.DataFrame(data =[data_2015['Country'],data_2015['Happiness Score']]).transpose()

data_2016 = pd.read_csv('2016.csv')
data_2016.rename(columns={'Happiness.Score':'Happiness Score'},inplace=True)
data_2016 = pd.DataFrame(data =[data_2016['Country'],data_2016['Happiness Score']]).transpose()

data_2017 = pd.read_csv('2017.csv')
data_2017.rename(columns={'Happiness.Score':'Happiness Score'},inplace=True)
data_2017.replace('Hong Kong S.A.R., China','Hong Kong',inplace=True)
data_2017 = pd.DataFrame(data =[data_2017['Country'],data_2017['Happiness Score']]).transpose()

data_2018 = pd.read_csv('2018.csv')
data_2018.rename(columns={'Score':'Happiness Score','Country or region':'Country'},inplace=True)
data_2018.replace('Northern Cyprus','North Cyprus',inplace=True)
data_2018 = pd.DataFrame(data =[data_2018['Country'],data_2018['Happiness Score']]).transpose()

data_2019 = pd.read_csv('2019.csv')
data_2019.rename(columns={'Score':'Happiness Score','Country or region':'Country'},inplace=True)
data_2019.replace('Northern Cyprus','North Cyprus',inplace=True)
data_2019.replace('North Macedonia','Macedonia',inplace=True)
data_2019 = pd.DataFrame(data =[data_2019['Country'],data_2019['Happiness Score']]).transpose()

data_2020 = pd.read_csv('2020.csv')
data_2020.rename(columns={'Ladder score':'Happiness Score','Country name':'Country'},inplace=True)
data_2020.replace('Hong Kong S.A.R. of China','Hong Kong',inplace=True)
data_2020.replace('Northern Cyprus','North Cyprus',inplace=True)
data_2020.replace('North Macedonia','Macedonia',inplace=True)
data_2020 = pd.DataFrame(data =[data_2020['Country'],data_2020['Happiness Score']]).transpose()

In [3]:
data_frames = [data_2015,data_2016,data_2017,data_2018,data_2019,data_2020]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Country'],
                                            how='outer'), data_frames)
df_merged = df_merged.dropna()
df_merged.columns = ['Country','Happiness Score 2015','Happiness Score 2016','Happiness Score 2017','Happiness Score 2018','Happiness Score 2019','Happiness Score 2020']
df_merged

,Country,Happiness Score 2015,Happiness Score 2016,Happiness Score 2017,Happiness Score 2018,Happiness Score 2019,Happiness Score 2020
0,Switzerland,7.587,7.509,7.494,7.487,7.48,7.5599
1,Iceland,7.561,7.501,7.504,7.495,7.494,7.5045
2,Denmark,7.527,7.526,7.522,7.555,7.6,7.6456
3,Norway,7.522,7.498,7.537,7.594,7.554,7.488
4,Canada,7.427,7.404,7.316,7.328,7.278,7.2321
...,...,...,...,...,...,...,...
152,Afghanistan,3.575,3.36,3.794,3.632,3.203,2.5669
153,Rwanda,3.465,3.515,3.471,3.408,3.334,3.3123
154,Benin,3.34,3.484,3.657,4.141,4.883,5.216
156,Burundi,2.905,2.905,2.905,2.905,3.775,3.7753
157,Togo,2.839,3.303,3.495,3.999,4.085,4.1872

In [4]:
data_2015_2020 = pd.DataFrame()
data_2015_2020['Country'] = df_merged['Country']
data_2015_2020['Diff'] = df_merged['Happiness Score 2020'] - df_merged['Happiness Score 2015']
data_2015_2020

         Country       Diff
0    Switzerland -0.0271002
1        Iceland -0.0565001
2        Denmark     0.1186
3         Norway -0.0340001
4         Canada    -0.1949
..           ...        ...
152  Afghanistan    -1.0081
153       Rwanda    -0.1527
154        Benin      1.876
156      Burundi     0.8703
157         Togo     1.3482

[141 rows x 2 columns]

In [5]:
m = open("countries.geojson","r")
countries = json.load(m)

map_id={}
for feature in countries['features']:
        feature['id'] = feature['properties']['ISO_A3']
        map_id[feature['properties']['ADMIN']] = feature['id']

data_2015_2020['id'] = data_2015_2020['Country'].apply(lambda x: map_id[x])

In [ ]:
fig = px.choropleth(data_2015_2020,
                    locations='id',
                    geojson=countries,
                    color='Diff',
                    hover_name='Country')
fig.show()